.signup-container {
    width: 500px;
    padding: 30px 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.signup-container:hover {
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #333;
}

.signup-container p {
    text-align: center;
    color: #090909;
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.signup-container form div {
    margin-bottom: 1rem;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: border-color 0.3s ease;
}

.signup-container input:focus {
    outline: none;
    border-color: #007bff;
}

.signup-container .error {
    border-color: #e63946;
}

.signup-container .error-message {
    font-size: 13px;
    color: #e63946;
    margin-top: -10px;
    margin-bottom: 10px;
}

.signup-container button.submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.signup-container button.submit:hover {
    background-color: #333;
}

.signup-container .login-link {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-top: 15px;
}

.login-link .link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.signup-container .login-link a {
    color: #007bff;
    text-decoration: none;
}

.username label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    align-items: flex-end;
}

.password label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    align-items: flex-end;
}

.phoneNumber label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    align-items: flex-end;
}

.email label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    align-items: flex-end;
}

.signup-container input.input-valid {
    border: 1px solid #28a745;
}

.signup-container input.input-invalid {
    border: 1px solid #dc3545;
}

.signup-container input.input-default {
    border: 1px solid #ccc;
}

.availability-message {
    margin-top: 5px;
    text-align: left;
}